//CONSTANTS

$bg-dark: #1B2024;
$bg-light: #262B2F;
$accent: #B23C4D;
$accent2: #45435B;

//PLACEHOLDERS

%cursor {
  cursor: pointer;
}

%transition {
  transition: all .4s ease-out;
}

%bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

%flex-column {
  display: flex;
  flex-direction: column;
}